/* Remove default Vite styles that center content and break Bootstrap layouts */
#root {
  width: 100%;
}

.extra-small {
  font-size: 0.7rem;
}

.transition-all {
  transition: all 0.2s ease-in-out;
}